
<h2>@ViewData["saludo"]</h2>

<p>Fecha actual: @ViewBag.fecha</p>

<h2>Datos personales: </h2>
<li>@Model.nombre</li>
<li>@Model.apellidos</li>
<li>@Model.direccion</li>
<li>@Model.telefono</li>
<li>@Model.IDPersona</li>

<br />

@Html.ActionLink("Ir a listado de personas", "listadoPersonas", "Home")
