﻿@Model clspersona.Models.persona



<h2>Editar</h2>

<p>
    @Model.idPersona
</p>
<p>
    @Model.nombre
</p>
<p>
    @Model.apellidos
</p>
<p>
    @Model.fechaNacimiento
</p>
<p>
    @Model.direccion
</p>
<p>
    @Model.telefono
</p>