@Model clsPersona.Models.persona1


<h2></h2>

<form method="post" action="/Home/Index">
    <input type="text" name="idPersona" value="@Model.idPersona" />
    <input type="text" name="nombre" value="@Model.nombre" />
    <input type="text" name="apellidos" value="@Model.apellidos" />
    <input type="text" name="fechaNacimiento" value="@Model.fechaNacimiento" />
    <input type="text" name="direccion" value="@Model.direccion" />
    <input type="text" name="telefono" value="@Model.telefono" />
    <input type="submit" name="btnSubmit" />
</form>

